<title>Test Platform</title>
<link rel="stylesheet" href="style.css">
</head>

<body>

<div class="container">

    <div class="header">
        <div class="title">
            <span class="icon">💣</span>
            <h1>Test Platform</h1>
            <p>Test your skills </p>
        </div>

        <button class="leaderboard">
            🏆 Leaderboard
        </button>
    </div>

    <div class="card">

        <h2>Internet — How it is work?</h2>

        <p class="desc">
            Internet writings, IP, DNS, Port, Client-Server, Signal road
        </p>

        <div class="info">
            <span> 20 min</span>
            <span> 25 min</span>
        </div>

        <button class="start">
            Start Test→
        </button>

    </div>

</div>

</body>
</html>